.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  /** display: flex; **/
  color: white;
}

body {
  padding: 0%;
  margin: 0;
  /* NOTE: investigate https://github.com/willmcpo/body-scroll-lock is this is insufficient */
  overflow: hidden;
}

nav {
  height: 3.75em;
  width: 100vw;
  margin: auto;
  border-bottom: 2px solid lightgrey;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}
.game {
  /**width: 100vw;**/
  /**height: calc(100vh - 170px);**/
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.board {
  width: 20em;
  height: 22em;
  border: 0px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  /**margin: 0.3em;**/
}

.letter {
  color: white;
  font-size: 2.2em;
  font-weight: bold;
  font-family: sans-serif;

  background-color: grey;

  width: 1.8em;
  height: 1.5em;
  line-height: 1.5em;

  display: grid;
  place-items: center;

  margin-right: 0.2em;

  border-radius: 5px;
  border-color: light gray;
  outline: "1px outset transparent";

  display: inline-block;
  text-align: center;
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}

.keyboard {
  width: 43em;
  height: 18em;
  margin-top: 2em;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.1em;
}

.key {
  width: 1.12em;
  height: 2.13em;
  margin: 0.15em;
  border-radius: 0.25em;
  display: grid;
  place-items: center;
  font-size: 1.25em;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 4.25em;
}
#disabled {
  background-color: #3a393c;
}